.Todo{
  padding: 2.5%;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  min-width: 5em;
  color: #edf5e1;
  display: flex;
  justify-content: space-between;
}

.Todo-title{
  width: 72.5%;
  cursor: grab;
}

.Todo-title:active{
  cursor: grabbing;
}

.Todo-delete{
  cursor: pointer;
  width: 22.5%;
  text-align: center;
  padding: .5em;
  font-size: 1.25em;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .Todo{
    border-bottom: none;
    border-right: 1px solid rgba(0,0,0,0.7);
  }
}