.App {
  text-align: left;
  font-family:'Lato', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}

.alert-text{
  color:#db675c;
}

.primary{
  background-color:#083a6c;
}

.secondary{
  background-color: #5cda94;
}
